<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Age</title>
</head>
<body>
<h1>年齢入力ページ</h1>
<form th:action="@{/profile/hello}" th:object="${s}" method="post">
	<input type="hidden" th:field="*{zz}" />
	<input type="hidden" th:field="*{blood}" />
    <p>
    	<!-- th:text = "${○○}" でコントローラーのaddAttributeで追加された値を持ってくる -->
    	<label for="blood">
    	<span th:text="*{zz != ''}? *{zz} : '名無し'">あなた</span>さんの血液型は
    	<span th:text="*{blood}">A</span>型です
    	</label>
    </p>
    <p>
        <label for="age">年齢を入力してください</label>
        <input type="text" name="age">
    </p>
    <p>
        <input type="submit" value="次へ">
    </p>
</form>
</body>
</html>