<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello</title>
</head>
<body>
<form th:action="@{/profile/dice}" method="post">
    	<!-- th:text = "${○○}" でコントローラーのaddAttributeで追加された値を持ってくる -->
    <p>ようこそ<span th:text="*{name}">あなた</span>さん</p>
    <p>あなたは<span th:text="*{age}">20</span>歳です</p>
    <p th:text="*{age} %2 == 0? '偶数':'奇数'">あ</p>
    <p>血液型は<span th:text="*{blood}">A</span>型です</p>
    <input type="submit" value="あなたのラッキーナンバー">
</form>
</body>
</html>