<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hoge</title>
</head>
<body>
<p>
<table border="1">
<tr><th>empid</th><th>name</th><th>branch</th><th>age</th><th>hobby</th></tr>
<tr th:each="list : ${TestEntity}">
	<td th:text="${list.empId}"></td>
	<td th:text="${list.name}"></td>
	<td th:text="${list.branch}"></td>
	<td th:text="${list.age}"></td>
	<td th:text="${list.hobname}"></td>
</tr>
</table>
</p>
<p>
<form th:action="@{/profile/hoge2}" method="post">
	<p>名前:<input type="text" name="another"></p>
	<p>住所:<input type="text" name="branch"></p>
	<p>年齢:<input type="text" name="age"></p>
	<p>趣味:<input type="text" name="hobid"></p>
	<input type="submit" value="新規追加">
</form>
</p>
<p th:text="${result != 0}? '登録成功' : '登録失敗'">登録できたかどうかが表示されます</p>

<form th:action="@{/profile/hoge3}" method="post">
	<p>ID検索:<input type="text" name="empid"></p>
	<p><input type="submit" value="検索"></p>
</form>
</body>
</html>