<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hoge</title>
</head>
<body>
<p>
<table border="1">
<tr><th>empid</th><th>name</th><th>branch</th><th>age</th><th>hobby</th></tr>
<tr th:each="empList : ${Select}">
	<td th:text="${empList.empid}"></td>
	<td th:text="${empList.a_name}"></td>
	<td th:text="${empList.a_branch}"></td>
	<td th:text="${empList.a_age}"></td>
	<td th:text="${empList.hobname}"></td>
</tr>
</table>
</p>
<p>
<form th:action="@{/profile/hoge2}" method="post">
	<p>名前:<input type="text" name="a_name"></p>
	<p>住所:<input type="text" name="a_branch"></p>
	<p>年齢:<input type="text" name="a_age"></p>
	<p>趣味:<input type="text" name="hobid"></p>
	<input type="submit" value="新規追加">
</form>
</p>
</body>
</html>